# Build
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Configs de ambiente
**/appsettings.Development.json
**/appsettings.*.json
!**/appsettings.json

# Logs
*.log

# Publicação
**/publish/
